.to-blue {
  background-color: #F0F0FF;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.to-grey {
  background-color: #FDFDFD;
  border-bottom: 1px solid #EEE;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.blue {
  background-color: #F0F0FF;
}

img {
  width: 100px;
  height: 100px;
}
